@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

@font-face {
  font-family: 'ChosunSm';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunSm/ChosunSm.ttf')
      format('truetype');
  font-display: swap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f6f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-white: #ffffff;
  --background-gray: #f6f7f8;
  --background-black: #141414;
  --background-disabled: #e4e6ea;
  --text-gray: #9ea6b1;
  --text-black: #292929;
  --warning-red: #fb4747;
  --primary-yellow: #ffe24c;
  --primary-yellow-hover: #fcc252;
  --secondary-green: #4bc25e;
  --sub-brown: #b1976d;
  --sub-pink: #ff85ce;
  --sub-blue: #b6d5e6;
}

body {
  min-width: 360px;
  position: relative;
  padding: 0 168px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

input {
  background-color: inherit;
  border: 0;
}

input:focus-visible {
  outline: none;
}

button {
  border: 0;
  cursor: pointer;
  background-color: inherit;
}
